body {
    margin: 0;
    padding: 0;
    background: White;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "montserrat", sans-serif;
}

.center-align {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-top: 10%;
    top: -150;
}

.Loader {
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    border-radius: 50%;
    border-top: 10px solid #e74c3c;
    position: relative;
    animation: a1 2s linear infinite;
}

.Loader::before,
.Loader::after {
    content: '';
    width: 300px;
    height: 300px;
    position: absolute;
    left: 0;
    top: -10px;
    box-sizing: border-box;
    border-radius: 50%;
}

.Loader::before {
    border-top: 10px solid #e67e22;
    transform: rotate(120deg);
}

.Loader::after {
    border-top: 10px solid #3498db;
    transform: rotate(240deg);
}

.Loader span {
    position: absolute;
    width: 300px;
    height: 300px;
    color: black;
    text-align: center;
    line-height: 300px;
    font-size: 30px;
    animation: a2 2s linear infinite;
}

@keyframes a1 {
    to {
        transform: rotate(360deg);
    }
}

@keyframes a2 {
    to {
        transform: rotate(-360deg);
    }
}

.btn {
    background-color: transparent;
    border: none;
    color: black;
    padding: 12px 16px;
    font-size: 35px;
    cursor: pointer;
}

.fa-microphone {
    font-size: 50px;
}