<div class="container-fluid">
    <h1>details</h1>

    <div [ngClass]="'card'">
        <img src="
                  {{details?.candidateDetails.imgPath}}" class="img-fluid ">
        <div class="container">
            <h4>{{details?.candidateName}}</h4>

            <p>
                Hello, My name is {{details?.candidateName}}. I am from {{details?.candidateDetails.city}} (M.P). I am persuing {{details?.candidateDetails.class}} from {{details?.candidateDetails.collegeName}}. My father's name is {{details?.candidateDetails.fatherName}}
                and My mother's name is {{details?.candidateDetails.motherName}} , and My hobby is {{details?.candidateDetails.hobbies}}


            </p>


        </div>

    </div>
</div>