<div class="card-container mx-auto mt-5">

    <div class="card card-front w-100">

        <div class="card-body">
            <img src="./assets/ssism.png" class="img-fluid">

        </div>
    </div>
    <div class="card card-back w-100">
        <div class="card-body bg-light">
            <h1 class="text-center">Student List</h1>
            <div class="bottom-right">


                <div *ngIf=candidates>
                    <div *ngFor="let candidate of candidates">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">

                                <a [routerLink]="['/detail', candidate.id]">
                          {{candidate.candidateName}}
                          </a>

                            </li>
                        </ul>
                    </div>
                </div>
                
                  <button type="button" class="btn btn-lg btn-outline-info" [routerLink]="['/detail',candidateDetails]">View Profile</button>


            </div>

        </div>
    </div>