.bg {
  background: #00b4db;
  background: -webkit-linear-gradient(to left, #0083b0, #00b4db);
  background: linear-gradient(to left, #0083b0, #00b4db);
}

.page-header h1 {
  font-family: "Playfair Display";
  font-size: 24px;
  padding: 16px 0px 16px 0px;
  margin-bottom: 0px;
}
